@keyframes opener {
  0% {
    opacity: 0;
  }
  50% {
    text-shadow: 0 0 2rem #fff, 0 0 3rem #fff, 0 0 4rem #fff, 0 0 5rem #fff;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 4px #000;
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #303030;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  text-shadow: 0 0 4px #000;
  text-align: center;
  display: block;
  animation: opener 5s;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #f3a70b;
  letter-spacing: 0.3rem;
  text-align: center;
}
.heading-secondary--dark {
  color: #f3a70b;
  text-shadow: 0 0.5rem 2rem #303030, 0 0.5rem 3rem #303030, 0.5rem 0 4rem #303030, 0.5rem 0 5rem #303030;
}

.btn {
  color: #f6b93b;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.8rem 0;
  border-bottom: 2px solid #f6b93b;
  transition: all 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  text-shadow: 0 0 2rem #fff16e, 0 0 3rem #fff16e, 0 0 4rem #fff16e, 0 0 5rem #fff16e, 0 0 6rem #fff16e;
  cursor: pointer;
}
.btn:active {
  transform: translateY(0);
}
.btn--donate {
  border-bottom: none;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.sticky .main-nav {
  margin-top: 0;
  background: rgba(255, 255, 255, 0.96);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.sticky .main-nav .link {
  color: black;
  font-size: 1.6rem;
  padding: 1.8rem 0;
}

.section-contact {
  background: #fcfcfc;
  padding: 10rem 15rem;
}

.contact-box {
  display: flex;
  padding: 5rem 1rem;
}
.contact-box__map {
  margin: 0 2rem;
  border: 3px solid #f3a70b;
  width: fit-content;
  height: fit-content;
  margin-right: 2rem;
}
.contact-box__details {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-box__title {
  color: #f3a70b;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
}
.contact-box__text {
  padding: 1rem 2rem;
}
.contact-box__contact {
  border-top: 1px solid #f3a70b;
  margin-top: 1rem;
  padding-top: 1rem;
}
.contact-box__phone {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.contact-box__email {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.contact-box__icon {
  color: #f3a70b;
  font-size: 4rem;
  margin-right: 2rem;
}
.contact-box__link {
  padding: none;
  text-decoration: none;
  color: #f3a70b;
  border-bottom: 1px solid #f3a70b;
  transition: all 0.2s;
}
.contact-box__link:hover {
  transform: translateY(-2px);
}
.contact-box__link:active {
  transform: translateY(0);
}

.section-wrapper--donate {
  background: #fcfcfc;
}

.section-donate {
  background-image: linear-gradient(to right bottom, rgba(246, 185, 59, 0.4), rgba(243, 167, 11, 0.4)), url(../../img/sunset.jpg);
  background-size: cover;
  padding: 10rem 15rem;
  -webkit-clip-path: polygon(100% 0, 100% 91%, 50% 100%, 0 91%, 0 0);
  clip-path: polygon(100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
}

.donate-text {
  padding: 4rem 0;
  font-size: 2rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

.card {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  background: #303030;
  padding: 4rem;
  margin: 4rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__title {
  flex-basis: 20%;
  color: #f6b93b;
  font-size: 5rem;
  text-align: center;
}
.card__description {
  flex-basis: 35%;
  color: #fcfcfc;
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
  border-top: 1px solid #f3a70b;
  border-bottom: 1px solid #f3a70b;
}
.card__amount {
  flex-basis: 35%;
  color: #f3e10b;
  font-size: 5rem;
  text-align: center;
}
.card__btn {
  align-self: center;
  background: #f6b93b;
  width: fit-content;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s;
}
.card__btn:hover {
  transform: translateY(-3px);
  background: #f3a70b;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
}
.card__btn:active {
  transform: translateY(0);
  box-shadow: none;
}
.card__input {
  border: none;
  background: #f6b93b;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #303030;
}

.footer {
  background: #303030;
}

.header {
  display: grid;
  grid-template-rows: 1fr 7fr 3fr;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
.header__text {
  align-self: center;
}
.header__btn {
  margin-left: 8rem;
  align-self: center;
  animation: moveInLeft 1s ease-out 3s;
  animation-fill-mode: backwards;
}

.main-nav {
  width: 100%;
  margin-top: 4rem;
  padding: 0 4rem;
  text-align: end;
  animation: moveInTop 1s ease-out 1s;
  animation-fill-mode: backwards;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.main-nav .link {
  text-decoration: none;
  margin-right: 5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.main-nav .link:hover {
  color: #f6b93b;
  border-bottom: 2px solid #f6b93b;
  cursor: pointer;
}

.section-wrapper--mission {
  background: #303030;
}

.section-mission {
  background-color: #fcfcfc;
  padding: 10rem 15rem;
  display: flex;
  flex-direction: column;
  -webkit-clip-path: polygon(100% 0, 100% 91%, 50% 100%, 0 91%, 0 0);
  clip-path: polygon(100% 0, 100% 93%, 50% 100%, 0 93%, 0 0);
}
.section-mission .heading-secondary {
  width: 100%;
}
.section-mission .features {
  padding: 8rem 5rem;
}
.section-mission .features__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.section-mission .features__list > * {
  flex: 1 1 0;
  text-align: center;
  align-items: center;
}
.section-mission .features__icon {
  color: #f6b93b;
  font-size: 6.5rem;
  padding: 2rem;
  background-color: #303030;
  border-radius: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
.section-mission .features__text {
  padding: 0 20%;
  font-size: 2rem;
  font-weight: 500;
}
.section-mission .info-box {
  display: grid;
  grid-template: 50% 50%/50% 50%;
  grid-template-areas: "p1 video" "p2 video";
  padding-bottom: 10rem;
}
.section-mission .p {
  align-self: center;
  font-size: 2rem;
  padding: 0 5rem;
}
.section-mission .p--1 {
  grid-area: p1;
  margin-bottom: 3rem;
}
.section-mission .p--2 {
  grid-area: p2;
}
.section-mission .video {
  grid-area: video;
  align-self: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.section-wrapper--schedule {
  background-image: linear-gradient(to bottom, #303030, #fcfcfc);
}

.section-schedule {
  background-color: #303030;
  padding: 10rem 7rem;
}

.schedule-grid {
  padding: 4rem 20%;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas: ". community kollel" "t1 chumash halacha" "t2 navi ." "t3 mishna empty2" "t4 chavrusa chavrusa" "t5 mincha mincha" "t6 . gemara" "t7 empty mussar";
  justify-content: center;
  text-align: center;
  color: #fcfcfc;
}

.row--a {
  background: #262626;
}

.sch {
  padding: 1.5rem;
}
.sch--title {
  color: #f6b93b;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.sch__time {
  color: #f6b93b;
  font-size: 1.8rem;
}
.sch__time--1 {
  grid-area: t1;
}
.sch__time--2 {
  grid-area: t2;
}
.sch__time--3 {
  grid-area: t3;
}
.sch__time--4 {
  grid-area: t4;
}
.sch__time--5 {
  grid-area: t5;
}
.sch__time--6 {
  grid-area: t6;
}
.sch__time--7 {
  grid-area: t7;
}
.sch__chumash {
  grid-area: chumash;
}
.sch__navi {
  grid-area: navi;
}
.sch__mishna {
  grid-area: mishna;
}
.sch__community {
  grid-area: community;
}
.sch__kollel {
  grid-area: kollel;
}
.sch__mincha {
  grid-area: mincha;
}
.sch__halacha {
  grid-area: halacha;
}
.sch__gemara {
  grid-area: gemara;
}
.sch__chavrusa {
  grid-area: chavrusa;
}
.sch__mussar {
  grid-area: mussar;
}
.sch__empty {
  grid-area: empty;
}
.sch__empty2 {
  grid-area: empty2;
}

.section-testimonials {
  position: relative;
  display: grid;
  grid-template: 1fr 1fr/repeat(4, 1fr);
}

.photo-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #000;
}

.testimonials-photo {
  object-fit: cover;
  width: 100%;
  height: auto;
  opacity: 0.5;
  transform: scale(1.2);
  transition: all 0.2s;
  overflow: hidden;
}
.testimonials-photo:hover {
  transform: scale(1.08);
  opacity: 1;
}
.testimonials-photo:hover + .testimonials__quote {
  visibility: visible;
  opacity: 1;
}

.quote-mark {
  position: absolute;
  color: white;
  font-size: 16rem;
  top: -9rem;
  left: -7rem;
  height: auto;
}

.testimonials__quote {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: white;
  text-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.35);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
