.header {
  display: grid;
  grid-template-rows: 4fr 1fr;
  
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;

  &__text {
    align-self: center;
  }

  &__btn {
    margin-left: 8rem;
    animation: moveInBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
  }
}
