.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;

  &__text {
    height: fit-content;
  }
}
