.btn {
    &:link,
    &:visited {
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: .8rem;
      border-bottom: 2px solid $color-primary;
      transition: all .6s;
    }
  
    &:hover,
    &:active {
      text-shadow: 0 0 2rem $color-secondary, 0 0 3rem $color-secondary, 0 0 4rem $color-secondary;
    }
  }