.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

    .main-nav {
        margin-top: 0;
        background: rgba(#fff, .96);
        box-shadow: 0 1rem 2rem rgba(#000, .15);

        .link {
            color: black;
            font-size: 1.6rem;
            padding: 1.8rem 0;
        }
    }
}