@keyframes opener {
    0% {
      opacity: 0;
    }

    50% {
      text-shadow: 0 0 2rem #fff, 0 0 3rem #fff, 0 0 4rem #fff, 0 0 5rem #fff;
    }
  
    100% {
      opacity: 1;
      text-shadow: 0 0 4px #000;
    }
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes moveInTop {
    0% {
      opacity: 0;
      transform: translateY(-3rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }