.header {
  display: grid;
  grid-template-rows: 1fr 7fr 3fr;
  
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../../img/hero.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;

  &__text {
    align-self: center;
  }

  &__btn {
    margin-left: 8rem;
    align-self: center;
    animation: moveInLeft 1s ease-out 3s;
    animation-fill-mode: backwards;
  }
}

.main-nav {
  text-align: end;
  margin: 2rem;
  animation: moveInTop 1s ease-out 1s;
  animation-fill-mode: backwards;

  li a:link,
  li a:visited {
    text-decoration: none;
    margin: 2rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;

    &:hover,
    &:active {
      color: $color-primary-light;
      border-bottom: 2px solid $color-primary-light;
    }
  }
}
