.section-testimonials {
    position: relative;
    display: grid;
    grid-template: 1fr 1fr/ repeat(4, 1fr);
}

.photo-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #000;
}

.testimonials-photo {
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 0.5;
    transform: scale(1.2);
    transition: all .4s;
    overflow: hidden;

    &:hover {
        transform: scale(1.08);
        opacity: 1;
    }

    &:hover + .testimonials__quote {
        visibility: visible;
        opacity: 1;
    }
}

.quote-mark {
    position: absolute;
    color: white;
    font-size: 16rem;
    top: -9rem;
    left: -7rem;
    height: fit-content;
}

.testimonials__quote {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: white;
    text-shadow: 0 2rem 2rem rgba(#000, .35);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}